---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

[15].	Xu, W., He, J., Luo, L., & Jiang, B. (2024). Greener view, safer drive: Using repeated field experiments and deep transfer learning technique to investigate impacts of urban road landscapes on driving performance. Landscape and Urban Planning, 251, 105156.

[14].	Xu, W., Wang, H., Su, H, Sullivan, W. C., Lin, G.S., Pryor, M., Jiang, B. (2024). Impacts of sights and sounds on anxiety relief in the high-density city. Landscape and urban planning, 241. (IF: 7.9; Q1)
[13].	Xu, W+., Jiang, B+., Sullivan, W. C., Webster, C., Lu, Y., Chen, N., ... & Chen, B. (2024). Racial Disparities in Environmental Exposure and SARS-CoV-2 Infection Rates: A Detailed Population-Weighted Analysis. Sustainable Cities and Society, 105135. 
4.	Xu, W., He, J., Jiang, B. (2024). Not just more, but more diverse: Green landscapes along urban roads may significantly reduce drivers' psychophysiological fatigue Transportation Research Part F: Traffic Psychology and Behaviour, 103. 
5.	Wang, H., Gholami, S., Xu, W., Samavatekbatan, A., Sleipness, O., Tassinary, L., (2024) Where and how to invest in greenspace for optimal health benefits? A systematic review of greenspace morphology and human health relationships. Lancet Planetary Health, (IF: 24.1; Q1)
6.	Xu, W., & Zhao, J. (2023). Investigating Visual Aesthetic Fatigue in Urban Green Spaces. International Journal of Environmental Research, 17(2), 27. 
7.	Xu, W., Jiang, B., & Zhao, J. (2022). Effects of seasonality on visual aesthetic preference. Landscape Research, 1-12. (IF: 1.7)
8.	Jiang, B., Xu, W., Ji, W., Kim, G., Pryor, M., & Sullivan, W. C. (2021). Impacts of nature and built acoustic-visual environments on human’s multidimensional mood states: A cross-continent experiment. Journal of Environmental Psychology, 77, 101659. (IF: 6.1; Q1)
9.	Lu, Y., Chen, L., Liu, X., Yang, Y., Sullivan, W.C., Xu, W., Webster, C.,& Jiang, B. (2021). Green space mitigates racial disparity of health: A higher ratio of green spaces indicates a lower racial disparity in SARS-CoV-2 infection rates in the USA. Environment International, 152, 106465. (IF: 10.3; Q1)
10.	Xu, W., Zhao, J., Huang, Y., Hu, B. (2018). Design intensities in relation to visual aesthetic preference. Urban Forestry & Urban Greening, 34: 305-310. (IF: 6.0; Q1)
11.	Zhao, J., Xu, W., Ye, L. (2018). Effects of auditory-visual combinations on perceived restorative potential of urban green space. Applied Acoustics, 169-177. (IF: 3.4; Q2; citation: 131)
12.	Xu, W., Zhao, J., & Ye, L. (2018). Culture is new nature: comparing the restorative capacity of cultural and natural landscapes. International Journal of Environmental Studies, 1-19.
13.	Xu, W., Zhao, J. (2018). Biological basis and cultural influence of environmental aesthetics as well as design application. Landscape Architecture, 154 vol. 25 (Chinese).
14.	Zhao, J., Xu, W., & Lin B. (2018). An evidence-based study on plant landscape design in urban green spaces from the perspective of aesthetic preference of the public. Urban Problems, p. 41-45 (Chinese).
15.	Zhao, J., Xu, W., & Li, R. (2017). Visual preference of trees: the effects of tree attributes and seasons. Urban Forestry & Urban Greening, 25, 19-25. (IF: 6.0; Q1; citation: 96)



{% include base_path %}

<!-- <!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->






